p {
		color : red ;
		font: bold;
		border: 2px solid black;
		padding: 10px;
		font-family: Arial Black;
	}
body {
		color: red;
		font-style: bold;
		background-color: white; 
		font-family: Arial Black;
		background-image: ;
	}
h1:hover, h2:hover, form:hover, div:hover {
		background-color: yellow;
		border: 2px solid black;
	}
div {
	color: green;
	font-style: bold;
	font-family: Arial Black;
	padding: 10px;
	border: 2px dotted black;
	width: 200px;
	margin: auto;
}
form{
	border: 2px solid black;
	padding: 10px;
	font-family: Arial Black;
}
.rick{
	background-image: url(vimportant.gif);
}
a{
	color : limegreen !important ;
	font: bold;
	border: 2px solid black;
	padding: 10px;
	font-family: Arial Black;
	background-color: black;
	margin: auto;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}