p {
		color : red ;
		font: bold;
	}
body {
		color: red;
		font-style: bold;
		background-color: white; 
	}
h1:hover, h2:hover, form:hover {
		background-color: yellow;
		border: 2px solid black;
	}
